
}

header{
    box-decoration-break: 10px;
    background-color: crimson;
}
.dis{
    background-color: firebrick;
	margin: 35%;
	margin-top: 50px;
	margin-bottom: 0px;
	background-color: #ffffff;
	border: 3px;
	box-shadow: 0px 0px 5px #333333;
   
	
	}